<head>  
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
  </head>
  <br>


<div class="col-md-6 offset-4">
   <form>
<div>
      <label for="centreName">CentreName:</label><br>
 <!-- dropdown -->
<select  name="centreName" [(ngModel)]="user.centreName">
  <option *ngFor="let cl of centersList" value={{cl}}>
        {{cl}}
    </option>`
</select>
</div>
<br>
    
<div class="form-group row">
    <div class="col-xs-4">

      <label for="TestName">TestName:</label>
      <input type="text"  [(ngModel)]="user.testName" placeholder="TestName" class="col-md-2"
      name="testName" class="form-control" id="testName" #testName="ngModel" required name="centreName" class="form-control" id="centreName">
      <div *ngIf="testName.errors  &&  testName.touched" >
      <div *ngIf="testName.errors.required">Testname required</div>
      </div>
     </div>
      </div>
    <button class="btn btn-success" (click)="createTest()"> Submit </button>
  </form>
  </div>
  <div>
    <h2>{{message}}</h2>
  </div>